@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  background-color: #080400;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.album-container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin-left:20px;
}

.album-cover{
  border-radius:2%;
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.album-show {
  position:absolute;
  color: white;
  font-family: "Lato";
  text-align:center;
  top: 29%;
  left: 42%;
}


.individual-album{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.individual-album a {
  text-decoration: none;
}

.headline{
  margin-left:40px;
  animation: fadein 2s;
  color:white;
}

.link-to-next{
  text-align:center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.link-to-next a {
  text-decoration: none;
  color:white;
}

.individual-album p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;

}
.artist-text{
  text-align: center;
  font-family: 'Lato';
  font-weight:lighter;
  color: white;
  animation: fadein 2s;
}

.album-text{
  text-align: center;
  font-family: 'Lato';
  font-weight:lighter;
  color: white;
  animation: fadein 2s;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
